version: "3.9"

services:
  backend:
    build: ./backend
    container_name: job_matcher_backend
    ports:
      - "8000:8000"
    environment:
      - PINECONE_API_KEY=${PINECONE_API_KEY}

  frontend:
    build: ./frontend
    container_name: job_matcher_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
